<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - Tanu Sharma</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <%- include('partials/header') %>

        <main>
            <section id="about">
                <h1>About Me</h1>
                <p>Hi, I'm Tanu Sharma. I'm currently pursuing a B.Tech in Computer Science at Jaypee Institute of Information Technology, Noida. I have a CGPA of 8.9 and have achieved high scores in both my 12th and 10th grades.</p>
                <p>I have completed several projects including a Restaurant Management System using C++ and a Stock Heatmap using HTML, CSS, and JavaScript. I am proficient in multiple programming languages and technologies, and I have achieved significant
                    ratings on various competitive programming platforms.</p>
            </section>
        </main>

        <%- include('partials/footer') %>
</body>

</html>