<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects - Tanu Sharma</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <%- include('partials/header') %>

        <main>
            <section id="projects">
                <h1>Projects</h1>
                <div class="project">
                    <h2>Restaurant Management System</h2>
                    <p>Technologies: C++, OOPS, File Handling</p>
                    <p>Description: Developed user interfaces for customer interaction, including signup and food ordering. Implemented admin features for managing customer records and menu items.</p>
                </div>
                <div class="project">
                    <h2>Stock Heatmap</h2>
                    <p>Technologies: HTML, CSS, JavaScript, API, JSON</p>
                    <p>Description: Designed and developed a stock heatmap visualization tool. Utilized live stock data to dynamically update the heatmap visualization.</p>
                </div>
                <div class="project">
                    <h2>Gaming Estate</h2>
                    <p>Technologies: C++, Algorithm (Shortest Path)</p>
                    <p>Description: Created a gaming estate project with three games: "Snake and Ladders", "The Knight's Move", and "Mastermind". Utilized C++ to implement interactive gameplay and functionalities.</p>
                </div>
            </section>
        </main>

        <%- include('partials/footer') %>
</body>

</html>